<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% metagen
      title=metatitle or title,
      desc=metadescription or decription,
      url="https://cosmogr.am"+page.url,
      img="",
      img_alt="",
      twitter_card_type="summary_large_image",
      twitter_handle="acccent",
      name=author
    %}
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/style.css"/>

    <script defer src="build/js/core.js"></script>
  </head>
  <body id="{{ bodyid }}">

    <div id="cosmogram" aria-hidden="true"></div>

    <div id="container" class="container">
      {{ content | safe }}

      {% include "./partials/footer.html" %}
    </div>

  </body>
</html>
