#index {

  --hiq-block-element-margin-bottom: 1.2rem;

  #hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 35vh 0;
  }

  article {
    margin-bottom: calc(3 * var(--hiq-block-element-margin-bottom));

    & > .post-description {
      margin-bottom: 0.5rem;
    }

    & > .post-info {
      opacity: 0.5;
    }
  }

}
