#post {

  article {
    margin: var(--vertical-whitespace) 0;

    & > .post-info, h2 {
      position: relative;
      margin-left: -0.5rem;
      padding-left: 0.5rem;

      & > .header-anchor {
        position: absolute;
        bottom: 0.15em;
        right: 100%;
        height: 1.4em;
        padding-right: 0.5em;
        border-right: 1px solid color-mod(var(--hiq-text-color) a(10%));
        font-size: var(--hiq-font-size-small);

        & > svg {
          transition: opacity var(--hiq-speed) var(--hiq-easing);
        }
      }

      &:not(:hover) > .header-anchor:not(:hover, :focus) > svg {
        opacity: 0.15;
      }
    }

    & > .post-info {
      margin-bottom: calc(2 * var(--hiq-block-element-margin-bottom));
    }

    & > .post-content :--heading {
      margin-top: 1.5em;
    }
  }

  #post-navigation {
    display: flex;

    .separator {
      flex: 1 1 auto;
      min-width: 2rem;
    }
  }

}
