@custom-media --no-collapse-bar (width >= 1300px);
@custom-media --vertical-labels (1300px <= width <= 1500px);

#topnav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 2rem;
  background: linear-gradient(to bottom, color-mod(var(--hiq-html-background-color) a(90%)) 0 90%, transparent);
  font-size: 16px;

  @media (--no-collapse-bar) {
    padding: 0.75rem 1.75rem 0.75rem 1rem;
    background: transparent;
    font-size: inherit;
    transform: none !important;
  }

  & > a {
    display: block;

    &#backtotop {
      display: none;
    }

    & > svg {
      height: 1.7em;
    }

    & > label {
      display: inline-block;
      margin: 0 0.3em;
      overflow: hidden;
      cursor: pointer;

      & > span {
        display: inline-block;
        opacity: 0;
        transition: opacity 0.2s linear, transform 0.15s ease-in-out;
      }
    }
  }

  & > a:first-child {
    span {
      transform: translateX(-100%);
    }

    @media (--vertical-labels)  {
      transform-origin: 0.5em;
      transform: rotate(90deg);

      svg {
        transform: rotate(-90deg);
      }

      label {
        transform: rotate(180deg) translateY(-0.15em);
      }

      span {
        transform: translateX(100%);
      }
    }
  }

  & > a:last-child {
    span {
      transform: translateX(100%);
    }

    @media (--vertical-labels)  {
      transform-origin: calc(100% - 0.5em);
      transform: rotate(-90deg);

      svg {
        transform: rotate(90deg);
      }

      label {
        transform: rotate(180deg) translateY(-0.15em);
      }

      span {
        transform: translateX(-100%);
      }
    }
  }

  & > a:hover span, & > a:focus span {
    opacity: 1;
    transform: translateX(0);
  }
}
