@custom-media --no-collapse-bar (min-width: 1300px);
@custom-media --vertical-labels (min-width: 1300px) and (max-width: 1500px);

#topnav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 2rem;
  background: linear-gradient(to bottom, color-mod(var(--hiq-html-background-color) a(90%)) 0 90%, transparent);
  font-size: 16px;

  & > a {
    display: block;
    letter-spacing: -0.02em;

    &#backtotop {
      display: none;
      opacity: 0;
    }

    & > svg, & > label {
      display: inline-block;
      top: 0;
      height: 1.7rem;
    }

    & > label {
      margin: 0 0.3em;
      overflow: hidden;
      cursor: pointer;

      & > span {
        display: inline-block;
        line-height: 1.7rem;
      }
    }

    &:hover span, &:focus span {
      opacity: 1;
      transform: translateX(0) !important;
    }
  }
}

@media (--no-collapse-bar) {
  #topnav {
    padding: 0.75rem 1.75rem 0.75rem 1rem;
    background: transparent;
    font-size: inherit;
    transform: none !important;

    & > a > label > span {
      opacity: 0;
      transition: opacity 0.2s linear, transform 0.15s ease-in-out;
    }

    & > a:first-child span {
      transform: translateX(-100%);
    }

    & > a:last-child span {
      transform: translateX(100%);
    }
  }
}

@media (--vertical-labels) {
  #topnav > a:first-child {
    transform-origin: 0.5em;
    transform: rotate(90deg);

    svg {
      transform: rotate(-90deg);
    }

    & > label {
      transform: rotate(180deg);

      & > span {
        transform: translateX(100%);
      }
    }
  }

  #topnav > a:last-child {
    transform-origin: calc(100% - 0.5em);
    transform: rotate(-90deg);

    svg {
      transform: rotate(90deg);
    }

    label {
      transform: rotate(180deg);

      & > span {
        transform: translateX(-100%);
      }
    }
  }
}
