@import 'fontface';
@import 'overlayscrollbars/css/OverlayScrollbars.min.css';

@import 'hiq/css/utility/*.css';
@import 'hiq/css/base/*.css';
@import 'hiq/css/components/*.css';
@import 'hiq/css/elements/*.css';
@import 'hiq/css/typography/*.css';

@import 'variables';

@import 'views/*.css';

@custom-media --hiq-lower-font-range (min-width: 500px);
@custom-media --hiq-upper-font-range (min-width: 1200px);

#cosmogram {
  @mixin is-large;
  position: fixed; top: 0; left: 0; right: 0;
  z-index: -2;
  height: calc(70vh + 20em);
  background: url('/static/img/cosmogram.svg') 50% 70% / auto 200% no-repeat;
  opacity: 0.15;
  pointer-events: none;
}

#container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

:--heading {
  font-family: var(--font-family-heading);
}

h1 {
  font-feature-settings: "dlig", "ss02";
}

p, .text-font {
  font-family: var(--font-family-text);
  --hiq-list-margin-left: 1em;
  --hiq-unordered-list-style: "~ ";
}

blockquote {
  box-shadow: inset 4px 0 3px -4px;

  padding: 0.15rem 1rem 0.25rem;

  blockquote {
    padding-right: 0;
    margin-bottom: 0;
  }

  p + blockquote {
    margin-top: 1rem;
  }

  cite {
    font-style: italic;
  }
}

a:focus {
  outline: none;
}

a.ui:visited {
  color: var(--link-color);

  &:hover, &:focus {
    color: var(--link-hover-color);
  }

  &:active {
    color: var(--link-active-color);
  }
}

code {
  padding-bottom: calc(var(--code-padding-vertical) - 0.05rem);
}

table {
  border-bottom: var(--table-cell-border-width) solid var(--table-cell-border-color);
}

hr {
  width: 100%;
  box-shadow: 0 2px 2px 0 color-mod(var(--hiq-horizontal-rule-color) a(30%));
}
