---
layout: default
bodyid: index
path: home
eleventyComputed:
  title: "{{ siteinfo.title }}"
  description: "{{ siteinfo.description }}"
---

<header id="hero">
  <h1>{{ title }}</h1>
  <span class="text-font">posts and experiments by <a href="https://robin-v.net" target="_blank">robin</a>. also on <a href="https://twitter.com/acccent" target="_blank">twitter</a>.</span>
</header>

<main>

  {% for post in collections.home | reverse %}
  <article>

    <h2>
      <a href="{{ post.url | url }}">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          Untitled
        {% endif %}
      </a>
    </h2>

    {% if post.data.description %}
      <p class="post-description">
        {{ post.data.description }}
      </p>
    {% endif %}

    <div class="post-info">
      <small>{% heroicon "outline", "calendar" %} <time>{{ post.date | readableDate }}</time> — {% heroicon "outline", "clock" %} {{ post | readingTime }}</small>
    </div>

  </article>
  {% endfor %}
</main>
