---
layout: default
title: Cosmogram
description: posts by robin
bodyid: index
path: home
---

<header id="hero">
  <h1>{{ title }}</h1>
  <p>posts by <a href="https://robin-v.net" target="_blank">robin</a>. also on <a href="https://twitter.com/acccent" target="_blank">twitter</a>.</p>
</header>

<main id="postslist">
  {% set postslist = collections.post %}

  {% for post in postslist | reverse %}
  <article>

    <h2>
      <a href="{{ post.url | url }}">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          Untitled
        {% endif %}
      </a>
    </h2>

    {% if post.data.description %}
      <p>
        {{ post.data.description }}
      </p>
    {% endif %}

    <div class="post-info is-small">
      {% heroicon "outline", "calendar" %} <time>{{ post.date | readableDate }}</time> — {% heroicon "outline", "clock" %} {{ post | readingTime }}
    </div>

  </article>
  {% endfor %}
</main>
